@use "src/styles/themes/light" as light;
@use "src/styles/themes/fonts" as fonts;

main {
  /* Style the footnotes section. */
  .footnotes {
    font-family: fonts.$pacify-content-secondary, "Arial" !important;
    font-size: smaller;
    color: #8b949e;
    padding-top: 8rem;
    
    h2 {
      font-family: fonts.$pacify-heading-primary;
      font-size: 2em;
    }

    li {
      line-height: 1.2em;
      margin: 1rem;
      word-wrap: break-word;
      word-break: break-all;
    }
  }

  /* Place `[` and `]` around footnote references. */
  [data-footnote-ref] {
    font-family: fonts.$pacify-content-secondary, "Arial" !important;

    &::before {
      content: "[";
    }

    &::after {
      content: "]";
    }
  }

  del code {
    text-decoration: inherit;
  }
}
