@use "src/styles/themes/light" as light;
@use "src/styles/themes/fonts" as fonts;

main {
  /* Style the footnotes section. */
  .footnotes {
    font-family: "Monsterrat", "Arial";
    font-size: smaller;
    color: #8b949e;
    padding-top: 8rem;
    
    h2 {
      font-family: fonts.$pacify-title;
      font-size: 2em;
    }

    li {
      line-height: normal;
    }
  }

  /* Place `[` and `]` around footnote references. */
  [data-footnote-ref] {
    font-family: "Monsterrat", "Arial";

    &::before {
      content: "[";
    }

    &::after {
      content: "]";
    }
  }

  del code {
    text-decoration: inherit;
  }
}
