// Variables for reusable values
$scroll-margin: 10rem;
$img-max-width: 60%;

// Smooth scrolling for the whole document
html {
  scroll-behavior: smooth;

  &.sr {
    .load-hidden {
      visibility: hidden;
    }
  }

  // body {
  //   margin: 0;
  //   height: 100vh;
  //   cursor: url("https://static.igem.wiki/teams/5174/contents/edu/mc/mc-cursor.png") 16 16;
  // }

  main {
    // Scroll margin for all children
    * {
      scroll-margin-top: $scroll-margin;
    }
  }
}
