// Variables for reusable values
$scroll-margin: 10rem;
$img-max-width: 60%;

// Smooth scrolling for the whole document
html {
  scroll-behavior: smooth;

  &.sr {
    .load-hidden {
      visibility: hidden;
    }
  }
  
  main {
    // Scroll margin for all children
    * {
      scroll-margin-top: $scroll-margin;
    }
  }
}
