@use "sass:math";
@import "/src/plugins/picnic-css/themes/default/theme";
@import "/src/plugins/picnic-css/plugins/table/plugin";

// Variables for reusable values
$scroll-margin: 3.5rem;
$img-max-width: 60%;

// Smooth scrolling for the whole document
html {
  scroll-behavior: smooth;
}

main {
  // Scroll margin for all children
  * {
    scroll-margin-top: $scroll-margin;
  }

  // Image styling
  img:not(.PhotoView-Portal img) {
    max-width: $img-max-width;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}
