@use "sass:math";
@import "/src/plugins/picnic-css/themes/default/theme";
@import "/src/plugins/picnic-css/plugins/table/plugin";

main {
  img:not(.PhotoView-Portal img) {
    max-width: 60%;
    height: auto;
    display: block; /* Make it a block element */
    margin: 0 auto; /* Center it */
  }
}
