.footer {
  background-color: #75818d;
  color: #ecf0f1;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;

    .submenu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: 150px; /* Ensure columns have a minimum width */

      & h3 {
        margin-bottom: 10px;
        font-size: 1.2em;
      }
    }

    .submenu-single {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: 150px; /* Ensure columns have a minimum width */
    }

    .nav-link {
      color: #ecf0f1;
      text-decoration: none;
      margin-bottom: 5px;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;

    .logo {
      display: inline;
      height: 8em;
      opacity: 0.8;
    }
    
    .social {
      display: flex;
      align-items: center;
    }
    
    .social img {
      height: 24px;
      margin-right: 10px;
      fill: white;
    }
  }

  .declaration {
    font-size: 0.8em;
    margin-top: auto;
  }
}
