$img-max-width: 60%;

.container {
  z-index: 1500000;
}

.img:not(.PhotoView-Portal .img) {
  max-width: $img-max-width;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px; // Add border radius here
}
