@use "src/styles/themes/light" as light;
@use "src/styles/themes/fonts" as fonts;

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-15px);
  }

  60% {
    transform: translateY(-5px);
  }
}

@keyframes grow {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

main {
  .bg-container {
    overflow: visible;

    .title-container {
      line-height: 1;
      position: absolute;
      left: 5vw;
      top: 30vh;

      .title-banner {
        display: flex;
        align-items: center;
        $line-width: 4em;
        font-family: fonts.$pacify-layout;
        font-weight: bold;
        padding-left: $line-width + 1em;
        color: #c0b2a6;

        &::before {
          content: "";
          display: block;
          width: $line-width;
          height: 0.1em;
          background-color: #c0b2a6;
          position: absolute;
          left: 0;
        }
      }

      .title {
        color: light.$pacify-char-layout;
        font-size: 5rem;
        font-family: fonts.$pacify-layout;
        font-weight: normal;
        font-style: normal;
        line-height: 1;
        // width: 30vw;
        overflow-wrap: break-word;
        padding: 0;
        margin: 0;
      }

      .title-prompt {
        color: light.$pacify-char-layout;
        font-size: 1.5rem;
        font-family: fonts.$pacify-layout;
        font-weight: bold;
        font-style: normal;

        // Anime bouncing
        animation: bounce 2s ease infinite;
      }
    }

    .leaf {
      z-index: 0;
      transform-origin: top left; /* Adjust the origin here */
    }

    .leaf-waving {
      animation: wave 3s infinite ease-in-out;

      @keyframes wave {
        0% {
          transform: rotate(0deg);
        }
        25% {
          transform: rotate(5deg);
        }
        50% {
          transform: rotate(0deg);
        }
        75% {
          transform: rotate(-5deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }

      &:nth-child(odd) {
        animation-duration: 2.5s;
      }

      &:nth-child(even) {
        animation-duration: 3.5s;
        animation-delay: 0.5s;
      }
    }
  }

  .content-container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1000px;
    gap: 45rem;
  }

  .slogan {
    font-family: fonts.$pacify-heading-primary;
    width: 60vw;
    text-align: center;
    font-size: 6rem;
    font-weight: bold;
    font-style: normal;
    color: light.$pacify-char-layout;
    margin: 5rem auto 0 auto;
  }
}
