@use "sass:math";
@import "/src/plugins/picnic-css/themes/default/theme";
@import "/src/plugins/picnic-css/plugins/generic/plugin";
@import "/src/plugins/picnic-css/plugins/normalize/plugin";

$max-width: 1000px;
$font-family: sans-serif;

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

