@use "sass:math";
@import "src/plugins/picnic-css/themes/default/theme";
@import "src/plugins/picnic-css/plugins/generic/plugin";
@import "src/plugins/picnic-css/plugins/normalize/plugin";

$font-family: sans-serif;

.main {
  width: 100%;
  margin: auto;
  min-height: 80vh;
  font-family: $font-family;
  padding: 3rem 5rem 15rem 5rem;
  background: linear-gradient(98deg, #bccfb8 10.33%, #c0b2a6 72.94%);
}
