@use "sass:math";
@import "src/plugins/picnic-css/themes/default/theme";
@import "src/plugins/picnic-css/plugins/generic/plugin";
@import "src/plugins/picnic-css/plugins/normalize/plugin";


$background-colors: (
  #e4caca,
  #dcd4b9,
  #d5dda9,
  #c7dcaa,
  #bbdbab,
);

$background-sizes: (
  130vmax 130vmax,
  80vmax 80vmax,
  90vmax 90vmax,
  110vmax 110vmax,
  90vmax 90vmax
);

$background-positions: (
  -80vmax -80vmax,
  60vmax -30vmax,
  10vmax 10vmax,
  -30vmax -10vmax,
  50vmax 50vmax
);

$animation-steps: (
  0%: (size: $background-sizes,
    position: $background-positions),
  25%: (size: (100vmax 100vmax, 90vmax 90vmax, 100vmax 100vmax, 90vmax 90vmax, 60vmax 60vmax),
    position: (-60vmax -90vmax, 50vmax -40vmax, 0vmax -20vmax, -40vmax -20vmax, 40vmax 60vmax)),
  50%: (size: (80vmax 80vmax, 110vmax 110vmax, 80vmax 80vmax, 60vmax 60vmax, 80vmax 80vmax),
    position: (-50vmax -70vmax, 40vmax -30vmax, 10vmax 0vmax, 20vmax 10vmax, 30vmax 70vmax)),
  75%: (size: (90vmax 90vmax, 90vmax 90vmax, 100vmax 100vmax, 90vmax 90vmax, 70vmax 70vmax),
    position: (-50vmax -40vmax, 50vmax -30vmax, 20vmax 0vmax, -10vmax 10vmax, 40vmax 60vmax)),
  100%: (size: $background-sizes,
    position: $background-positions)
);


@mixin radial-background($colors, $sizes, $positions) {
  background-color: #bccfb8;
  background-image: #{generate-radial-gradients($colors)};
  background-size: $sizes;
  background-position: $positions;
  background-repeat: repeat;
  background-attachment: fixed; // Add this line
}

@function generate-radial-gradients($colors) {
  $gradients: (
  );

@each $color in $colors {
  $gradient: radial-gradient(closest-side, $color, rgba(0, 0, 0, 0));
  $gradients: append($gradients, $gradient, comma);
}

@return $gradients;
}

@mixin generate-keyframes($name, $steps) {
  @keyframes #{$name} {
    @each $step, $values in $steps {
      #{$step} {
        background-size: map-get($values, size);
        background-position: map-get($values, position);
      }
    }
  }
}

@include generate-keyframes(movement, $animation-steps);

.main {
  display: block;
  @include radial-background($background-colors, $background-sizes, $background-positions);
  animation: 15s movement linear infinite;
}