@use "../themes/light";

$img-max-width: 60%;

.container {
  position: relative;

  .title {
    margin-bottom: 4rem;
    margin-top: 10rem;
    color: light.$pacify-char-layout;
    font-size: 8rem;
    font-family: "Cinzel Decorative";
    font-weight: normal;
    font-style: normal;
  }

  .content {
    display: flex;
    justify-content: center;
  }
}
