@use "src/styles/themes/light" as light;
@use "src/styles/themes/fonts" as fonts;
@use "sass:math";
@import "src/plugins/picnic-css/themes/default/theme";
@import "src/plugins/picnic-css/plugins/card/plugin";
@import "src/plugins/picnic-css/plugins/modal/plugin";

.modal {
  @extend .modal;

  .overlayer {
    @extend .overlay;
  }

  .article {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .header {
      position: sticky;
      top: 0;
      background-color: white;
      z-index: 10;
      padding: 1rem;
      font-family: fonts.$pacify-title;

      .close {
        @extend .close;
        font-size: xx-large;
        transition: all 0.3s ease;
        top: auto;
      }
    }

    .section {
      line-height: 1.5em;
      padding: 1rem 4rem 4rem 4rem;
      font-family: fonts.$pacify-content-primary;

      h1 {
        margin: 0;
      }
    }
  }
}

.modal-trigger {
  display: inline-block; /* Ensure they are inline elements */
  margin: 10px; /* Add margin to separate them */
  padding: 10px 20px;
  background-color: light.$pacify-primary;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: light.$pacify-secondary;
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
  }
}
