@use "sass:math";
@use "../themes/light";

@import "/src/plugins/picnic-css/themes/default/theme";
@import "/src/plugins/picnic-css/plugins/label/plugin";
@import "/src/plugins/picnic-css/plugins/button/plugin";
@import "/src/plugins/picnic-css/plugins/nav/plugin";

// Key properties extracted into variables
$nav-bar-bg-color: light.$pacify-primary;
$nav-bar-font-family: light.$pacify-main-font;

$nav-link-text-color: white;
$nav-link-margin-right: 2rem;
$nav-link-font-weight: bold;
$nav-link-hover-color: light.$pacify-char-layout-dimmed;

$sub-menu-min-width: 100px;
$sub-menu-bg-color: white;
$sub-menu-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
$sub-menu-border-radius: 8px;
$sub-menu-item-padding: 12px 18px;
$sub-menu-item-hover-bg: #f1f1f1;
$sub-menu-dp-btn-color: black;
$sub-menu-item-color: black;
$sub-menu-item-border-radius: 0.2em;

// Media query breakpoints
$mobile-breakpoint: $picnic-breakpoint;

.nav-bar {
  @extend nav;
  background: $nav-bar-bg-color;
  font-family: $nav-bar-font-family;
  color: white;

  .nav-menu {
    @extend .menu;
    margin-right: 2.5rem;

    .nav-link {
      margin-right: $nav-link-margin-right;
      padding: 0%;
      cursor: default;
      font-weight: $nav-link-font-weight;
      color: $nav-link-text-color;
      position: relative;
      background: none;

      &:hover {
        color: $nav-link-hover-color;
      }

      @media all and (width <= $mobile-breakpoint) {
        color: $sub-menu-dp-btn-color;
        display: block;
      }
    }

    .nav-dropdown {
      position: relative;
      display: inline-block;

      // Show sub-menu on hover for desktop
      @media (min-width: $mobile-breakpoint) {
        &:hover {
          .sub-menu {
            display: block; /* Show on hover */
          }
        }
      }

      // Show sub-menu on click for mobile
      @media all and (width <= $mobile-breakpoint) {
        display: block;

        .nav-dropdown-btn:focus + .sub-menu,
        .nav-dropdown-btn:active + .sub-menu {
          display: block; /* Show on click */
        }
      }

      .nav-dropdown-btn {
        @extend .nav-link;
        display: block;
        box-shadow: none;

        @media all and (width <= $mobile-breakpoint) {
          color: $sub-menu-dp-btn-color;
          border-radius: $sub-menu-item-border-radius;
          width: 100%;
          text-align: left;
        }
      }

      .sub-menu {
        display: none; /* Hide by default */
        position: absolute;
        background-color: $sub-menu-bg-color;
        min-width: $sub-menu-min-width;
        box-shadow: $sub-menu-box-shadow;
        border-radius: $sub-menu-border-radius;

        @media all and (width <= $mobile-breakpoint) {
          color: $sub-menu-item-color;
          position: relative;
          width: 75%;
          left: 10%;

          // Keep submenu open on hover
          &:hover {
            display: block;
          }
        }

        .sub-menu-item {
          color: $sub-menu-item-color;
          padding: $sub-menu-item-padding;
          text-decoration: none;
          display: block;
          position: relative;
          border-radius: $sub-menu-border-radius;

          &:hover {
            background-color: $sub-menu-item-hover-bg;
          }
        }
      }
    }
  }

  input {
    display: none;
  }

  .logo {
    @extend .logo;
    display: inline;
  }
}
