@use "sass:math";
@use "../themes/light";

@import "/src/plugins/picnic-css/themes/default/theme";
@import "/src/plugins/picnic-css/plugins/label/plugin";
@import "/src/plugins/picnic-css/plugins/button/plugin";
@import "/src/plugins/picnic-css/plugins/nav/plugin";

// Key properties extracted into variables
$nav-bar-bg-color: light.$pacify-primary;
$nav-bar-font-family: light.$pacify-main-font;
$nav-bar-height: 6rem;

$nav-link-text-color: light.$pacify-char-layout;
$nav-link-margin-right: 1.7rem;
$nav-link-hover-color: light.$pacify-char-layout-dimmed;
$nav-link-font-weight: normal;

$sub-menu-item-count: 5;
$sub-menu-min-width: 13rem;
$sub-menu-btn-font-weight: bold;
$sub-menu-border-radius: 0.2rem;
$sub-menu-item-padding: 12px 18px;
$sub-menu-item-hover-bg: #f1f1f1;
$sub-menu-item-color: light.$pacify-char-layout;
$sub-menu-item-border-radius: 40px 0px;

$mobile-sub-menu-dp-btn-color: black;

// Media query breakpoints
$mobile-breakpoint: $picnic-breakpoint;

.nav-bar {
  @extend nav;
  background: $nav-bar-bg-color;
  height: $nav-bar-height;

  font-family: $nav-bar-font-family;
  font-size: larger;
  color: light.$pacify-char-layout;

  background: linear-gradient(
    90deg,
    rgba(231, 227, 215, 0.5) 0%,
    rgba(129, 127, 120, 0.5) 100%
  );
  box-shadow: inset 0px 4px 6px 3px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  .nav-menu {
    @extend .menu;
    margin-right: 2rem;

    .nav-link {
      position: relative;

      margin-right: $nav-link-margin-right;
      padding: 0%;

      font-weight: $nav-link-font-weight;
      color: $nav-link-text-color;
      background: none;
      cursor: default;

      &:hover {
        color: $nav-link-hover-color;
      }

      @media all and (width <= $mobile-breakpoint) {
        color: $mobile-sub-menu-dp-btn-color;
        display: block;
      }
    }

    .nav-dropdown {
      position: relative;
      display: inline-block;
      margin: 0;

      // Show sub-menu on hover for desktop
      @media (min-width: $mobile-breakpoint) {
        &:hover {
          .sub-menu {
            visibility: visible;
            color: $nav-link-hover-color;
          }

          .sub-menu-btn {
            color: $nav-link-hover-color;
          }

          .sub-menu:hover .sub-menu-item {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }

      // Show sub-menu on click for mobile
      @media all and (width <= $mobile-breakpoint) {
        display: block;

        .sub-menu-btn:focus + .sub-menu,
        .sub-menu-btn:active + .sub-menu {
          display: block; /* Show on click */
        }
      }

      .sub-menu-btn {
        @extend .nav-link;
        display: block;
        box-shadow: none;
        font-weight: $sub-menu-btn-font-weight;

        @media all and (width <= $mobile-breakpoint) {
          color: $mobile-sub-menu-dp-btn-color;
          border-radius: $sub-menu-item-border-radius;
          width: 100%;
          text-align: left;
          padding: 0.3em 0.9em;
          margin: 0.3em;
        }
      }

      .sub-menu {
        visibility: hidden;
        position: absolute;
        margin-top: -3rem;
        padding-top: calc($nav-bar-height / 2 + 2rem);
        background: none;
        min-width: $sub-menu-min-width;
        border-radius: $sub-menu-border-radius;
        left: 60%;
        transform: translateX(-60%);

        @media all and (width <= $mobile-breakpoint) {
          color: $sub-menu-item-color;
          padding-top: inherit;
          position: relative;
          width: 75%;

          // Keep submenu open on hover
          &:hover {
            visibility: visible;
          }
        }

        // Animation for sub-menu items
        .sub-menu-item {
          display: block;
          position: relative;
          margin-top: 0.5rem;
          padding: $sub-menu-item-padding;
          text-decoration: none;
          border-radius: $sub-menu-item-border-radius;
          text-align: center;

          color: $sub-menu-item-color;
          background: linear-gradient(
            90.91deg,
            rgba(231, 227, 215, 0.6) 21.56%,
            rgba(192, 178, 166, 0.6) 84.94%
          );

          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);

          opacity: 0; // Initially hide the items
          transition: opacity 0.3s, transform 0.3s, visibility 0.3s; // Add transition
          transform: translateY(-20px);

          &:hover {
            background: linear-gradient(
              90.91deg,
              #e7e3d7 21.56%,
              #ffffff 84.94%
            );
            color: light.$pacify-secondary;
          }

          $base-delay: 0.1s;
          // Apply animation delay based on item index using a loop
          @for $i from 1 through $sub-menu-item-count {
            &:nth-child(#{$i}) {
              transition-delay: $base-delay * $i;
            }
          }
        }
      }
    }
  }

  input {
    display: none;
  }

  .brand {
    @extend .brand;
    font-size: larger;
    left: 1.5em;
  }

  .logo {
    @extend .logo;
    display: inline;
    width: auto;
    height: calc($nav-bar-height / 1.5);
  }
}
