@use "sass:math";
@use "../themes/light";

@import "/src/plugins/picnic-css/themes/default/theme";
@import "/src/plugins/picnic-css/plugins/label/plugin";
@import "/src/plugins/picnic-css/plugins/button/plugin";
@import "/src/plugins/picnic-css/plugins/nav/plugin";

$nav-link-text-color: white;
$nav-submenu-min-width: 100px;

.navbar {
  @extend nav;
  background: light.$pacify-primary;
  font-family: light.$pacify-main-font;

  .nav-menu {
    @extend .menu;
    margin-right: 2.5rem;

    .nav-link {
      margin-right: 2rem;
      padding: 0%;
      cursor: default;
      font-weight: bold;
      color: $nav-link-text-color;
      position: relative;
      background: none;

      &:hover {
        color: light.$pacify-char-layout-dimmed;
      }

      @media all and (width <= $picnic-breakpoint) {
        color: black;
        display: block;
      }
    }

    .nav-dropdown {
      position: relative;
      display: inline-block;

      // Show sub-menu on hover for desktop
      @media (min-width: $picnic-breakpoint) {
        &:hover {
          .sub-menu {
            display: block; /* Show on hover */
          }
        }
      }

      // Show sub-menu on click for mobile
      @media all and (width <= $picnic-breakpoint) {
        display: block;

        .nav-dropdown-btn:focus + .sub-menu,
        .nav-dropdown-btn:active + .sub-menu {
          display: block; /* Show on click */
        }
      }

      .nav-dropdown-btn {
        @extend .nav-link;
        display: block;
        box-shadow: none;

        @media all and (width <= $picnic-breakpoint) {
          color: black;
          transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
          border-radius: 0.2em;
          width: 100%;
          text-align: left;
        }
      }

      .sub-menu {
        display: none; /* Hide by default */
        position: absolute;
        background-color: white;
        min-width: $nav-submenu-min-width;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        border-radius: 8px;

        @media all and (width <= $picnic-breakpoint) {
          color: black;
          position: relative;
          width: 75%;
          left: 10%;

          // Keep submenu open on hover
          &:hover {
            display: block;
          }
        }

        .sub-menu-item {
          color: black;
          padding: 12px 18px;
          text-decoration: none;
          display: block;
          position: relative;
          border-radius: 8px;

          &:hover {
            background-color: #f1f1f1;
          }
        }
      }
    }
  }

  input {
    display: none;
  }

  .logo {
    @extend .logo;
    display: inline;
  }
}
