.video-container {
  display: flex;
  justify-content: center; // Center horizontally
  align-items: center; // Center vertically
  margin-top: 15px;
  margin-bottom: 15px;
}

.video {
  // Define variables
  $video-width: 80%; // Width of the video
  $aspect-ratio: calc(16 / 9); // Aspect ratio (16:9 in this case)

  position: relative;
  width: $video-width; // Adjust width as needed
  padding-top: calc($video-width / $aspect-ratio);
  overflow: hidden; // Hide any overflow

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; // Remove border
  }
}
