.audio-container {
  display: flex;
  justify-content: center; // Center horizontally
  align-items: center; // Center vertically
  margin-top: 15px;
  margin-bottom: 15px;
}

.audio {
  position: relative;
  width: 100%; // Adjust width as needed
  overflow: hidden; // Hide any overflow
}

