@import "~picnic/src/picnic.scss";

$max-width: 1000px;
$font-family: sans-serif;

.container {
  @extend .container;
  margin: auto;
  max-width: $max-width;
  font-family: $font-family;
  padding: 2rem;
}

.nav-bar {
  @extend .menu;
}
