$max-width: 1000px;
$font-family: sans-serif;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  margin: auto;
  max-width: $max-width;
  font-family: $font-family;
  padding: 2rem;
}
