@import '~picnic/src/picnic.scss';

$max-width: 1000px;
$font-family: sans-serif;
$heading-color: rebeccapurple;
$site-title-color: gray;
$nav-link-text-color: black;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes staggeredFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  margin: auto;
  max-width: $max-width;
  font-family: $font-family;
  padding: 2rem;
}

.heading {
  font-size: 3rem;
  color: $site-title-color;
  font-weight: 700;
  margin: 3rem 0;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: 2rem;
  flex-wrap: wrap;

  .nav-link-item {
    padding-right: 2rem;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    .nav-link-text {
      color: $nav-link-text-color;
      text-decoration: none;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: darken($nav-link-text-color, 20%);
      }
    }
  }
}

.fade-in-child {
  opacity: 0;
  animation: staggeredFadeIn 1s ease-in-out forwards;
}

@media (max-width: 600px) {
  .site-title {
    font-size: 2.5rem;
  }

  .nav-links {
    justify-content: center;
  }

  .nav-link-item {
    padding-right: 1rem;
  }

  .heading {
    text-align: center;
  }
}
